/* Astra Theme Custom Styles */

a {
    color: var(--ast-global-color-0);
}

a:hover, a:focus {
    color: var(--ast-global-color-1);
}

.ast-site-identity .site-title a {
    color: var(--ast-global-color-2);
}


.astra-logo-svg {
    width: 133px;
}

/* Estilos personalizados para la nueva navbar de Bootstrap */
.custom-nav-link {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.custom-nav-link:hover, .custom-nav-link:focus {
    color: #e60000 !important; /* Rojo vibrante al pasar el ratón */
}

/* Efecto suave en la navbar al abrirse en celular */
.navbar-collapse {
    transition: all 0.3s ease-in-out;
}

 

/* Responsive */
@media (max-width: 921px) {
    #ast-desktop-header { display: none; }
    background-color: #000000 !important;
    border-bottom: 2px solid #e60000 !important; /* Borde rojo */
    h1 { font-size: 30px; }
    h2 { font-size: 25px; }
    :root {
        --wp--custom--ast-default-block-right-padding: 2em;
        --wp--custom--ast-default-block-left-padding: 2em;
    }
}

@media (max-width: 544px) {
    :root {
        --wp--custom--ast-default-block-right-padding: 1.5em;
        --wp--custom--ast-default-block-left-padding: 1.5em;
    }
}

/* Layout de bloques de Gutenberg */
.entry-content[data-ast-blocks-layout] > * {
    max-width: var(--wp--custom--ast-content-width-size);
    margin-left: auto;
    margin-right: auto;
}

.entry-content > .wp-block-group, 
.entry-content > .wp-block-cover, 
.entry-content > .wp-block-columns {
    padding: var(--wp--custom--ast-default-block-top-padding) 
            var(--wp--custom--ast-default-block-right-padding) 
            var(--wp--custom--ast-default-block-bottom-padding) 
            var(--wp--custom--ast-default-block-left-padding);

}


.main-header-menu .menu-link {
    color: #e60000 !important;
    text-transform: uppercase;
    font-weight: bold;
}

.main-header-menu .menu-link:hover {
    color: #e60000 !important; /* Hover rojo */
}

.main-header-bar {
    background-color: #121212 !important; /* Cambia el rojo por el fondo oscuro */
    border-bottom: 2px solid #e60000 !important; /* Borde rojo siguiendo tu nuevo estilo */
}
