header {
    /* background: linear-gradient(135deg, #0D0D0D 0%, #2a0000 100%); */
    background-color: #0D0D0D; 
    border-bottom: 2px solid #750000;
    padding:1rem 1rem;
    text-align: center;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #0D0D0D 0%, #2a0000 100%);
}

.galeria-container {
    padding: 4rem 0;
    min-height: 70vh;
}
.galeria-item {
    contain: content;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #e60000;
    box-shadow: 0 4px 15px #1A1A1A;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
}
.galeria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.8px 0.8px rgba(230, 0, 0, 0.15),
        0 1.5px 1.5px rgba(230, 0, 0, 0.692),
        0 2.1px 2.1px rgba(230, 0, 0, 0.548),
        0 4.4px 4.4px rgba(230, 0, 0, 0.5),
        0 12px 12px rgba(10, 8, 8, 0.781);
    z-index: 2;
}
.galeria-item img {
    width: 100%;
    height: 302px;
    object-fit: cover;
    display: block;
    transition: filter 0.4s ease;
}
.galeria-item:hover img {
    filter: brightness(1.2);
}

/* Style for filter buttons */
#filter-menu .btn {
    border: 2px solid #e60000;
    color: #ffffff;
    transition: all 0.3s ease;
}

#filter-menu .btn:hover, 
#filter-menu .btn.active {
    background-color: #e60000;
    color: white;
}
#Title {
    width: 100%;
    text-align: center;
    margin-top: 50px; /* Separación desde el header */
    margin-bottom: 30px; /* Separación hacia las fotos */
    font-size: 2.5rem;
    color: #FBFBFB;
    font-family: "Josefin Sans", sans-serif;
    
}
